---
// April Fool's Day 2026 - Temporary redirect to 1997 GeoCities page
// This file will be automatically restored on April 2, 2026
---
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/april-1-1997.html" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/april-1-1997.html">Edward's Cyber Zone</a>...</p>
</body>
</html>
