---
// Redirect stub: /podcast/ -> /content/#podcast
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting to Content</title>
  <link rel="canonical" href="/content/#podcast" />
  <meta http-equiv="refresh" content="0;url=/content/#podcast" />
</head>
<body>
  <script is:inline>window.location.replace('/content/#podcast');</script>
  <p>This page has moved to <a href="/content/#podcast">/content/#podcast</a>.</p>
</body>
</html>
