---
// Redirect stub: /resume/ -> /about/#resume
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting to About</title>
  <link rel="canonical" href="/about/#resume" />
  <meta http-equiv="refresh" content="0;url=/about/#resume" />
</head>
<body>
  <script is:inline>window.location.replace('/about/#resume');</script>
  <p>This page has moved to <a href="/about/#resume">/about/#resume</a>.</p>
</body>
</html>
