---
// Redirect stub: /speaking/ -> /work/
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting to Work</title>
  <link rel="canonical" href="/work/" />
  <meta http-equiv="refresh" content="0;url=/work/" />
</head>
<body>
  <script is:inline>window.location.replace('/work/');</script>
  <p>This page has moved to <a href="/work/">/work/</a>.</p>
</body>
</html>
