---
// Redirect stub: /videos/ -> /content/#videos
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting to Content</title>
  <link rel="canonical" href="/content/#videos" />
  <meta http-equiv="refresh" content="0;url=/content/#videos" />
</head>
<body>
  <script is:inline>window.location.replace('/content/#videos');</script>
  <p>This page has moved to <a href="/content/#videos">/content/#videos</a>.</p>
</body>
</html>
